h1,p{
    padding: 4%;
    line-height: 200%;
}

.gt1{
    /*background-color: rgba(229, 235, 233, 0.726);*/
    margin-top: 5%;
    padding: 4%;
}

#services{
    background-color: rgba(229, 235, 233, 0.726);
}

.gt3{
    padding: 3%;
}

.gt4{
    margin-bottom: 5%;
}

.nav-link:hover{
    background-color: rgba(15, 221, 15, 0.747);
}

i{
    margin-top: 15%;
}

#event{
    background-color: rgba(229, 235, 233, 0.726);
}
